fastapi==0.110.0
uvicorn[standard]==0.27.1
python-multipart==0.0.9

numpy>=1.24
opencv-python-headless>=4.10

tensorflow==2.15.0
keras==2.15.0

cvzone>=1.6.1
mediapipe>=0.10.14

pillow>=10.3.0
pyenchant>=3.2.2
pyttsx3>=2.90
